table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #3700ff;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #eeeeee;
}

h1 {
    text-align: center;
    color: #1565c0;
    margin-top: 20px;
}